* {
    padding: 0;
    margin: 0;
    font-family: 'Inter';
        font-style: normal;
        font-weight: b;
        font-size: 3vh;
        line-height: 5vw;
        text-align: center;
}
body {
    background-color: #FDB515 !important;
}

#top {
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: left;
    justify-content:left;
}

#searchBox {
    width: 40vw;
    height: 8vh;
    border:black solid 2px;
    border-radius: 3vh;
    text-align: left;
    padding-left: 1em;
}

#btn {
    color: white;
    background-color: #003262;
    width: 10vw;
    height: 8vh;
    border:black solid 2px;
    border-radius: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

#bottom {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: top;
    justify-content: center;
}

#board {
    height: 90%;
    width: 90%;

    overflow-y: auto;
}

.userBlock {
    font-weight: bold;
    display: flex;
    justify-content:space-around;
    align-items: center;
    color: white;
    background: #003262;
    width: 100%;
    height: 15vh;
    border-bottom:White solid 1px;
}

#description {
    background-color: black !important;
    height: 10vh !important;
}

.airport {

}

.time {

}

.name {

}

.joined {

}
